## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.pidb
.vs/
_ReSharper*/
*.ReSharper
*.sln.ide

## Publicação
/publish/
*.pubxml
*.pubxml.user

## Secrets (NUNCA commitar)
.env
appsettings.*.local.json
**/secrets.json

## Logs
*.log
logs/

## Docker volumes (desenvolvimento local)
.docker/

## Rider / VS Code
.idea/
.vscode/
*.DS_Store
/.superpowers/brainstorm/33328-1780540489/content/overview.html
/.superpowers/brainstorm/33328-1780540489/content/q1-frontend.html
/.superpowers/brainstorm/33328-1780540489/content/q2-payment.html
/.superpowers/brainstorm/33328-1780540489/content/q3-whatsapp.html
/.superpowers/brainstorm/33328-1780540489/content/q4-infra.html
/.superpowers/brainstorm/33328-1780540489/content/q5-billing.html
/.superpowers/brainstorm/33328-1780540489/content/q6-nfe.html
/.superpowers/brainstorm/33328-1780540489/content/q7-mobile.html
/.superpowers/brainstorm/33328-1780540489/content/q8-i18n.html
/.superpowers/brainstorm/33328-1780540489/content/waiting.html
